.paint-banner-img{
  background: url(../images/paint-banner.jpg) no-repeat bottom center;
  background-size: cover;
  height: 100vh;
}

.leftside-text {
  margin-top: 100px;
}
.about2img {
  width: 600px;
}

.nextTopic {
  font-size: 20px;
  font-weight: bold;
  float: right;
  background: #fff;
  padding: 50px;
  FONT-FAMILY: Articulate Extrabold;
  padding-right: 165px;
}

.branding-half-img{
  background: url(../images/branding-half.jpg) no-repeat bottom center;
  background-size: cover;
  height: 90vh;
}

.eyes-half-img{
  background: url(../images/eye.jpg) no-repeat bottom center;
  background-size: cover;
  height: 90vh;
}

.paint-banner-img{
  background: url(../images/spaghetti.jpg) no-repeat bottom center;
  background-size: cover;
  height: 90vh;
}



.text-200-right {
  margin-bottom: 100px;
  padding-right: 165px;
}


.digital-activationH-img{
  background: url(../images/digital-activationH.jpg) no-repeat bottom center;
  background-size: cover;
  height: 100vh;
}
.Back-to-half-img{
  background: url(../images/back-future.jpg) no-repeat bottom center;
  background-size: cover;
  height: 100vh;
}


.Up-down-heading,
h1.digital-act-heading {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  font-family: Articulate Extrabold;
}

.flex40.text-250-right {
  padding-right: 250px;
  padding-left: 70px;
}
.flex60.text-250-right{
  padding-right: 250px;
}
.flex40.text-250-left h1 {
  font-size: 70px;
  line-height: 70px;
  font-family: Articulate Extrabold;
}
.text-250-left {
  padding-left: 122px;
  padding-right: 40px;
}
.flex40.text-250-right img {
  margin-top: 0px;
}
.container50 .row {
  margin-top: 100px;
}
.arrow-blink{
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
}



@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
   40% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  60% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@media(min-width:768px) and (max-width:991px){

}
