@media (max-width: 767px) {
	.Display-MB{
		display: block;
		font-size: 14px;
		margin-bottom: 10px;
	  }
	.digitalEXpSectionHome .moreRead.bounceBox,
	.whoWeAreHome .moreRead.bounceBox {
		color: #212529;
	}
	.sectionTitle{
		display: block;
	}
	.pagetitle{
		display: none !important;
	}
	.flex-buttonsmb img {
		display: block;
	}
	.digitalEXpSectionHome .moreRead.bounceBox span,	
	.whoWeAreHome .moreRead.bounceBox span
	{
		background: #212529;
	}
	.digitalEXpSectionHome .flex40.textBoxRight,
	.whoWeAreHome .flex40.textBoxLeft
	 {
		padding-top: 90px;
		top: 0;
	}
	.getInTouchHome .flex40.textBoxRight {
		top: unset;
		bottom: 0;
	}
	.getInTouchHome h1{
		color: #292b2b;
	}
	.flickity-enabled.is-draggable .flickity-viewport {
		margin-left: -100px;
		margin-top: 40px;
	}
	.text-250-left {
		padding-left: 15px;
		padding-right: 15px;
	}
	.gallery-cell {
		width: 50%;
	  }
	.gallery {
		position: relative;
		bottom: unset;
		right: unset;
		left: unset;
	}
	.sidebar {
		width: 100%;
		overflow: auto;
		background: #292b2b;
		padding-top: 40px;
	}  
	.experiencesection h1 {
		color: #292b2b;
	}
	.sideFooter {
		position: relative;
		right: unset;
		bottom: unset;
		width: auto;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	} 
	.nextTopic {
		padding-right: 0px;
	}
	a.notdisplaymb {
		display: none;
	}
	.parent-menu {
		min-width: 100%;
		float: none;
		padding: unset;
		text-align: center;
		padding-left: 40px;
    	padding-right: 40px;
	}
	ul.parent-menu li a {
		font-size: 16px;
		padding: 10px 0;
	}
	.menuIcon.menuIconClose {
		font-size: 12px;
	}
	.flex40 {
		width: 100%;
	}
	.flexContainer {
		display: block;
	}
	.flex60 {
		width: 100%;
	}
	
	.textBoxLeftInner {
		position: relative;
		bottom: unset;
		padding-right: unset;
		width: 100%;
		color: #fff;
	}
	.moreRead.bounceBox {
		color: #fff;
	}
	.moreRead.bounceBox span
	{
		background: #fff;
	}
	
	.textColored {
		position: relative;
		font-size: 25px;
		line-height: 25px;
		width: auto;
		mix-blend-mode: normal;
		color: #fff;
		mix-blend-mode: normal;
		padding: 10px 0;
	}
	
	section#digitalEXpSectionHome h1 {
		color: #000;
	}
	.textBoxRightInner {
		position: relative;
		bottom: unset;
		padding-left: unset;
		width: 100%;
		padding-right: unset;
		padding-top: 10px;
	}
	.textBoxLeft {
		padding-left: 0px;
	}
	.flex40.textBoxRight {
		position: absolute;
		top: 0;
		background: transparent;
	}
	.barndingsection .flex40.textBoxRight,
	.experiencesection .flex40.textBoxLeft,
	.dctivationsection .flex40.textBoxLeft{
		bottom: unset;
		position: relative;
	}
	.barndingsection .flex40.textBoxRight h1,
	.dctivationsection .flex40.textBoxLeft h1{
		margin-top: 20px;
		color: #212529;
	}
	.experiencesection .textBoxLeftInner,
	.dctivationsection .textBoxLeftInner {
		color: #212529;
	}
	.textBoxRightInner {
		position: relative;
		bottom: unset;
		padding-left: unset;
		width: 100%;
		padding-right: unset;
		padding-top: 0px;
	}
	.textBoxRight .textColored {
		right: auto;
		left: unset;
		width: unset;
	}
	section#whoWeAreHome .flex40 {
		position: relative;
	}
	section#whoWeAreHome h1 {
		color: #292b2b;
		mix-blend-mode: normal;
	}
	section#whoWeAreHome p {
		color: #292b2b;
	}
	.pinkText {
		color: #e4177a;
	}
	.Goodies .flex40.textBoxLeft {
		padding-right: 110px;
	}
	.getInTouchHome .owl-carousel {
		position: relative;
		top: unset;
		padding-top: 60px;
	}
	.home-banner .textHello {
		font-size: 50px;
		z-index: 9;
	}
	.moreRead.bounceBox.bounceBoxWT {
		position: absolute;
		bottom: 30px;
		right: 50%;
		z-index: 9;
		right: 0%;
	}
	.container50 {
		padding: 0px 0px;
		height: 100%;
	}
	.container50 .flex40{
		padding: 0px 15px;
	}

	.menuIcon {
		position: absolute;
		left: unset;
		top: 0;
		right: 0;
	}
	img.img-fluid.web-img {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 0px;
	}

	img.logImg.img-fluid {
		display: none;
	}
	img.iconLogoImg.img-fluid {
		width: 30px;
	}
	.cursor{
		display: none;
	}
	.cursor, .cursor3, .cursor2{
		display: none;
	}
	.cursor3, .cursor2{
		display: none;
	}
	header.header {
		opacity: 0.8;
		padding: 9px 0;
		background: rgba(255, 255, 255, 1);
		height: 50px;
	}
	.aboutInner h2:after{
		display: none;
	}
	.aboutInner {
	    padding-top: 90px !important;
		height: 85vh;
		background: unset;
		border: 0;
		padding: 0px;
		z-index: 9;
		margin: 0 15px;
	}
	.aboutText2 {
		display: none;
	}	

	.aboutInner h2 {
		font-size: 25px;
		line-height: 25px;
		position: re;
		width: 100%;
		bottom: unset;
		mix-blend-mode: normal;
		color: #fff;
		left: unset;
	}
	.addressBox p {
		font-size: 12px;
	}
	.addressBox h4 {
		font-size: 16px;
		font-weight: bold;
	}
	.container50 .row {
		margin-top: 0px;
	}
	.flex60.text-250-right {
		padding-right: 15px;
		padding-left: 15px;
	}
	.flex40.text-250-left h1 {
		font-size: 25px;
		line-height: 27px;
	}
	.leftside-text {
		margin-top: 0px;
	}

	.brandingDS,
	.dogDS,
	.activationDS,
	.goodiesDS{
		display: none;
	}
	.branding-MB{		
		height: 100vh;
		position: relative;
		background: url(../images/branding-MB.jpg) no-repeat center;
		background-size: cover;
	}
	
	.dog-MB{
		height: 100vh;
		position: relative;
		background: url(../images/dog-MB.jpg) no-repeat center;
		background-size: cover;
	}

	.activation-MB{
		height: 100vh;
		position: relative;
		background: url(../images/activation-MB.jpg) no-repeat center;
		background-size: cover
	}
	/* .white-MB{		
		height: 100vh;
		position: relative;
		background: url(../images/white-MB.jpg) no-repeat center;
		background-size: cover;
	} */
	.goodies-MB{
		height: 100vh;
		position: relative;
		background: url(../images/goodies-MB.jpg) no-repeat center;
		background-size: cover
	}
	.cat-MB{
		height: 100vh;
		position: relative;
		background: url(../images/cat-MB.jpg) no-repeat center;
		background-size: cover
	}
	section#whoWeAreHome h1 {
		position: initial;
	}
	section#brandingSectionHome h1.textColored.hover-target {
		mix-blend-mode: normal;
	}
	section#whoWeAreHome .textBoxLeftInner {
		padding-top: 10px;
	}
	.aboutInner .moreRead.bounceBox.bounceBoxWT {
		bottom: 50px;
	}
	.flex60.branding-MB {
		display: block;
	}	
	.aboutText2mb {
		display: block;
	  }
	.aboutText2mb .head-text{
		font-weight: bold;
	}
	.aboutText2mb {
		padding: unset;
		padding-top: 10px;
	}
	.flex-buttonsmb a {
		color: #212529;
	}
	.dctivationsection,
	.experiencesection,
	.barndingsection{		
		padding-top: 0px;
		height: auto;
	}
	.digitalACTSectionHome, .Goodies, .getInTouchHome, .digitalEXpSectionHome, .whoWeAreHome, .brandingSectionHome {
		height: 100vh;
		padding-top: 0px;
		overflow: unset;
	}
	.buttonmb {
		padding-bottom: 20px;
	}	
	span.head-text {
		display: block;
	}
	span.sectionTitle {
		position: relative;
		top: unset;
		color: unset;
		background: unset;
		background-clip: unset;
		-webkit-text-fill-color:unset;
		display: block;
		font-weight: bold;
		margin-bottom: 15px;
    	font-size: 14px;
	}					
	.container50 .logo.whitelogo,
	.logo {
		padding-left: 15px;
	}
	a.moreLink.tabletDisplay {
		position: absolute;
		bottom: 30px;
		right: 50%;
	}
	
	.whoWeAreHomeBG .owl-carousel {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 30px;
	}
	.whoWeAreHomeBG {
		height: unset;
	}
	.socialBox {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: transparent;
		z-index: 9;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: left;
	}
	.getInTouchHome h1 {
		padding-right: 90px;
	}
	.socialBox p {
		font-size: 13px;
	}
	.textBoxRight ul.hover-target li {
		padding: 0px 5px;
		font-size: 10px;
	}

	.vidBox {
		height: auto;
	}
	.tabletDisplay{
		display: block;
	  }
	  
	  .tabletNotDisplay,
	  .tabletDisplay img{
		display: none;
	  }	  
	  .textColored br{
		display: none;
	  }
	  .closeIcon {
		right: 45%;
	}
	.subheadeing {
		margin-bottom: 12px;
		margin-top: 30px;
		font-size: 20px;
	}
	.Interactive-text, .Social-Offline {
		width: 100%;
		margin: unset;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 15px;
    	padding-right: 15px;
	}
	.about2img {
		padding-left: 15px;
		padding-right: 15px;
	}
	.Up-down-heading {
		font-size: 30px;
		margin-left: 0px;
		line-height: 30px;
	}
	.leftside-text {
		width: 100%;
		position: relative;
		bottom: 20px;
		left: 0px;
	}
	.tabletDisplay.MB img {
		display: block;
	}
	.experiencesection h1.textColored {
		padding-top: 30px;
	}
	.experiencesection .textBoxLeftInner {
		padding-top: 0px;
	}
	h1.Up-down-heading {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.text-200-left {
		margin-top: 0px;
		margin-left: unset !important;
	}
	h1.digital-act-heading {
		font-size: 30px;
		margin-right: unset;
		line-height: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.dctivationsection .textBoxLeftInner {
		padding-top: 0px;
	}
	.flex40.textBoxLeft {
		position: absolute;
		bottom: 150px;
		background: no-repeat;
	}
	ul.parent-menu li a span {
		font-size: 12px;
	}
	.flex60.cat-MB img {
		display: none;
	}
	section.section.barndingsection .flex40,
	section#campaignStrategy .flex40,
	section.section.dctivationsection .flex40 {
		position: relative;
		bottom: unset;
	}
	section.section.barndingsection h1,
	section#campaignStrategy h1,
	section#campaignStrategy h4,
	section#campaignStrategy p,
	section.section.barndingsection p,
	section.section.dctivationsection h1,
	section.section.dctivationsection p,
	section.section.dctivationsection h4 {
		color: #212529 !important;
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}
	body {
		font-size: 13px;
	}
	section#home-banner:after {
		content: "";
		width: 100%;
		height: 100vh;
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border: 0;
		opacity: 0.5;
	}
}
@media (max-width: 767px) and (orientation: landscape){
	
	body{
		background: #212529;
		background-image: url(../images/portraitMod.gif);
		background-repeat: no-repeat;
		background-position: center;
	}
	.mainWrapper {
		display: none;
	}
	.header{
		display: none;
	}
	}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:768px) and (max-width:1024px) and (orientation: landscape){
	.home-banner .textHello {
		font-size:130px;
	}
	.sidebar {
		overflow: scroll;
	}
	.digitalEXpSectionHome h1{
		left: -270px !important;
		width: 700px !important;
	}
	.aboutInner h2 {
		font-size: 60px;
		line-height: 60px;
	}
	.aboutInner {
		height: 80%;
	}
	.ipad-P {
		display: none;
	  }
	  .textColored {
		font-size: 65px;
		line-height: 65px;
		width: 600px;
		top: 35px
	}
	.textBoxRight .textColored {
		width: 600px;
	}
	  
	  .ipad-lanscap {
		display: block;
	  }
	  .desktop{
		  display: none;
	  }

	.tabletNotDisplay .desktop {
		display: none;
	}
	.tabletNotDisplay .ipad-lanscap {
		display: block;
	}
	/* span.sectionTitle{
		display: block;
		top: -30px;
	} */

	/* .pagetitle{
		display: none !important;
	} */
	.textBoxLeftInner {    
		top: 290px;
		padding-right: 30px;
		bottom: 0px;
	}
	.flex40.text-250-right {
		padding-right: 50px;
	}
	.flex60.text-250-right {
		padding-right: 100px;
	}
	.flex40.text-250-left h1 {
		font-size: 55px;
		line-height: 55px;
	}
	.text-250-left {
		padding-left: 15px;
	}
	.textBoxRight .textColored {
		left: -140px;
	}
	.textBoxRightInner {   
		padding-left: 40px;    
		padding-right: 40px;
		top: 290px;
	}
	.textBoxLeft {
		padding-left: 0;
	}
	.cursor{
		display: none;
	}
	.cursor, .cursor3, .cursor2{
		display: none;
	}
	.cursor3, .cursor2{
		display: none;
	}
	.moreRead.bounceBox{
		position: absolute;
		left: 50%;
	}
}


@media(min-width:768px) and (max-width:1024px) {


	.sidebar {
		background: rgba(44, 45, 45, 0.95);
	}
	.sideFooter {
		position: relative;
		right: unset;
		bottom: unset;
		text-align: center;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	header.header.headerBk .pagetitle {
		display: block !important;
	}
}
@media(min-width:768px) and (max-width:1024px) and (orientation: portrait){
	.barndingsection .desktop {
		display: block;
	}
	.experiencesection .textColored,
	.barndingsection .textColored{
		top: unset;
		position: relative;
	}

	.sidebar {
		overflow: scroll;
	}
	.desktop{
		display: none;
	}

	img.img-fluid.web-img {
		width: 70%;
		display: block;
		margin: 30px auto;
	}
	.flex40.text-250-left h1 {
		font-size: 55px;
		line-height: 55px;
		margin-top: 80px;
	}
	.moreRead.bounceBox {
		left: 50%;
		transform: none;
		position: absolute;
		bottom: 20px;
	}
	img.img-fluid.about2img {
		width: 70%;
		display: block;
		margin: 30px auto;
	}
	.flex60.text-250-right {
		padding-right: 0px;
	}
	.text-250-left {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 40px;
	}
	.container50 .row {
		margin-top: 0px;
		padding-left: 85px;
		padding-right: 85px;
	}
	.flex40.text-250-right {
		padding-right: 0;
		padding-left: 0;
	}
	.experiencesection{
		height: auto;
	}
	/* span.sectionTitle{
		display: block;
	} */
	/* .pagetitle{
		display: none !important;
	} */
	.cursor{
		display: none;
	}
	.cursor, .cursor3, .cursor2{
		display: none;
	}
	.cursor3, .cursor2{
		display: none;
	} 
	.brandingSectionHome .moreLink .tabletNotDisplay,
	.digitalACTSectionHome .moreLink .tabletNotDisplay  {
		display: block;
	}
	/* .Goodies h1 {
		top: -90px;
	} */
	.brandingSectionHome .moreLink .tableDisplay,
	.digitalACTSectionHome .moreLink .tableDisplay  {
		display: none;
	}

	.aboutInner {
		height: 70%;
	}
	.getInTouchHome h1{
		top: -90px;
	}
	.moreRead.bounceBox.bounceBoxWT {
		position: absolute;
		right: 50%;
		bottom: 185px !important;
		z-index: 1;
	}
	section#digitalACTSectionHome h1 br {
		display: none;
	}
	.dctivationsection .textColored {
		top: 0px;
	}
	h4.subheadeing {
		margin-top: 80px;
	}
	.whoWeAreHome .textBoxLeftInner {
		padding-top: 20px !important;
	}

	.home-banner .textHello {
    font-size: 80px;}
	.aboutInner h2 {
		font-size: 50px;
		line-height: 60px;
		margin-bottom: 40px;
	}
	.whoWeAreHome h1 {
		top: unset;
		position: relative;
		margin-bottom: 20px;
	}
	.gallery {
		position: relative;
		bottom: unset;
		top: 20px;
	}
	.addressBox h4 {
		font-size: 18px;
		font-weight: bold;
	}
	.flex60.whoWeAreHomeBG {
		margin-top: 60px;
	}
	
	.moreRead {
		position: absolute;
		left: 50% !important;
		bottom: 80px !important;
	}

	.moreRead.bounceBox {
		transform: unset;
	}
	header.header {
		padding: 30px 0;
		background: #fff;
		height: 90px;
	}
	.flickity-enabled.is-draggable .flickity-viewport {
		margin-left: -300px;
	}
	.digitalACTSectionHome, 
	.Goodies, .getInTouchHome, 
	.digitalEXpSectionHome, 
	.whoWeAreHome, 
	.barndingsection, 
	.dctivationsection, 
	.brandingSectionHome {
		height: 100vh;
		padding-top: 60px;
	}
	.flexContainer {
		display: block;
		padding-top: 35px;
	}
	.flex40,
	.flex60{
		width:100%;
	}
  .textColored {
    font-size: 55px;
    line-height: 56px;
	top: -120px;
	width: 590px !important;
	}
	section#whoWeAreHome .textBoxLeft {
		padding-top: 50px;
	}
	.textBoxRight .textColored {
		right: auto;
		left: unset;
		width: auto;
	}
	.flex40.textBoxLeft,
	.flex40.textBoxRight {
		padding-left: 70px;
		padding-right: 70px;
	}
	.getInTouchHome .textBoxRight {
		padding-top: 50px;
	}
	.container50 {
		padding: 0px 30px;
		height: 100%;
	}
	.vidBox {
		height: auto;
	}
	.whoWeAreHomeBG {
		height: auto;
	}
	.whoWeAreHomeBG .owl-carousel {
		position: relative;
		bottom: 0px;
		padding-left: initial;
	}

	.digitalEXpSectionHome h1 br {
		display: none;
	}

	.aboutInner {
		margin-top: 150px;
	}
  .textBoxRightInner,
  .textBoxLeftInner {
      position: relative;
      bottom: unset;
      padding-left: 0;
      width: auto;
	  padding-right: 0;
	  padding-top: 120px;
  }
  .barndingsection .textBoxLeftInner,
  .barndingsection .textBoxRightInner{
	padding-top: 20px;
  }
  	.digitalACTSectionHome .textColored {
		top: -80px;
	}
  .text-200-left.text-img-left {
      position: relative;
      bottom: unset;
      width: auto;
  }

  .closeIcon {
      right: 43px;
  }
  .textBoxLeft {
    padding-left: 0px; 
  }
  .tabletDisplay{
    display: block;
  }
  .tabletNotDisplay{
    display: none;
  }

  .Interactive-text, .Social-Offline {
      width: auto;
  }
  .Up-down-heading,
  h1.digital-act-heading {
      font-size: 40px;
      line-height: 40px;
      margin-left: 0
  }
  .Up-down-heading br,
  h1.digital-act-heading br{
    display: none;
  }
  .leftside-text {
      width: auto;
      position: relative;
      bottom: unset;
      left: unset;
      margin-top: 40px;
  }
  .Sillylittle{
    margin: 30px 0;
  }
  	.socialBox {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		margin-bottom: 10px;
	}
	.getInTouchHome .owl-carousel {
		position: relative;
		top: 0;
		margin: 50px 0;
	}
	.ipad-P {
		display: block;
	  }
}

@media (min-width: 1030px) and (max-width: 1366px) {
    .home-banner .textHello {
		font-size: 150px;
	}
	.aboutInner h2 {
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 30px;
	}
	.textBoxLeft {
		padding-left: 100px;
	}
	.textBoxRightInner{
		padding-left: 40px;
		padding-right: 100px;
	}
	span.sectionTitle {
		top: -22px;
	}	
	.textBoxLeftInner, .textBoxRightInner{ 
		bottom: 30px;
	}
	.textColored {
		font-size: 80px;
		line-height: 83px;
	}
	.digitalACTSectionHome, .Goodies, .getInTouchHome, .digitalEXpSectionHome, .whoWeAreHome, .barndingsection, .dctivationsection, .experiencesection, .brandingSectionHome {
		padding-top: 70px;
	}
	.getInTouchHome {
		padding-top: 40px;
	}
	
}


@media (min-width: 1030px){
	.textinnerbox {
		width: 380px;
	}
}