@font-face {
    font-family: Articulate Extrabold;
    src: url(../fonts/AREN.TTF);
  }
  @font-face {
    font-family: Articulate;
    src: url(../fonts/ARB.TTF);
  }
  @font-face {
    font-family: Articulate;
    src: url(../fonts/ARN.TTF);
  }
  /* @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  } */
body{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: Articulate;
    color: #292b2b;
    /* cursor: none !important; */
}
ol, ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.home-banner{
    height: 100vh;
    position: relative;
    background: url(../images/home-banner.jpg) no-repeat center;
    background-size: cover
}
.home-banner .textHello {
    font-size: 190px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;    font-family: Articulate Extrabold;
}
.item2, .item3{
  display: none;
}
.bar1, .bar2{
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1 {
  margin-top: 0;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 2px);
  transform: rotate(-45deg) translate(0px, 2px);
}


.change .bar2 {
  -webkit-transform: rotate(45deg) translate(-4px, -7px);
  transform: rotate(45deg) translate(-4px, -7px);
}
header.header {
  position: fixed;
  z-index: 9;
  padding: 25px 0;
  width: 100%;
  background: #fff;
  height: 70px;
}
header.header .logo.whitelogo {
  display: none;
}
header#home-banner {
  background: transparent;
}
header#home-banner .logo .iconLogoImgbk {
  display: none;
}
header#home-banner .logo .iconLogoImgbk {
  display: none;
}
header#home-banner .menuIcon.menuIconBlk {
display: none;
}
header#home-banner .logo.whitelogo {
  display: block;
}
header#brandingSectionHome span#titleB,
header#digitalEXpSectionHome span#titleDE,
header#digitalACTSectionHome span#titleDA,
header#whoWeAreHome  span#titleWWA,
header#Goodies span#titleWWA,
header#getInTouchHome span#titleGIT {
  display: block;
}
.container50 {
  padding: 0px 50px;
  position: relative;
}

.menuIcon {
  position: absolute;
  color: #fff;
  font-size: 12px;
  text-align: center;
  top: 0;
  left:50%;
  transform: translateX(-50%);
}

.moreRead {
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
  transform: translateX(-50%);
    left: 50%;
}
.aboutSection{
    height: 100vh;
    position: relative;
    background: url(../images/home-banner.jpg) no-repeat center;
    background-size: cover;
    padding-top: 90px;
}
/* .mainWrapper {
  height: 100vh;
  overflow: hidden;
} */
.aboutInner {
  height: 85%;
  background: rgba(0, 0, 0, 0.3803921568627451);
  margin: 0 30px;
  border: 15px solid #fff;
  padding: 50px;
  color: #fff;
  position: relative;
  display: none;
  margin-top: 80px;
}
.aboutInner h2 {
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  position: relative;
  font-family: Articulate Extrabold;
  margin-top: 85px;
  line-height:  75px;
}
.aboutText {
  width: 900px;
  margin: 0 auto;
  max-width: 100%;
}
.aboutText2 {
  font-size: 19px;
  font-family: Articulate Extrabold;
  /* margin-top: 35px; */
  margin-top: 3em;
  
}
@keyframes shimmy {
  0% {
    margin-top: 150px;  
  }
  100% {
    margin-top: 0px;
  }
}
.aboutInner ul {
  display: flex;
  margin-top: 80px;
}

.aboutInner ul li {
  flex: 1 1 0;
  text-align: center;
}

.aboutInner ul li a {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}
.aboutInner ul li a:hover{
  text-decoration: none;
}
.sidebar {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 100%;
  padding-top: 70px;
  background: rgba(0, 0, 0, 0.91);
  transform: translate(100vw, 0);
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  padding-top: 75px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-left-radius: 100vw;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0;
}
.sidebar.test {
  -ms-transform: translatex(0);
  transform: translatex(0);
  border-bottom-left-radius: 0;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
}
.menuIcon.menuIconBlk {
  color: #000;
}
.menuIcon.menuIconBlk .bar2, .menuIcon.menuIconBlk .bar1 {
  background-color: #000;
}
.brandingSection{
    height: 100vh;
    position: relative;
    background: url(../images/branding.jpg) no-repeat center;
    background-size: cover;
    padding-top: 90px;
    margin: 0px 30px 30px;
    transform: scale(1.2);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    display: none;
}

.brandingSection.brandingSectionView{
  height: calc(100vh - 60px);
  transform: scale(1);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.mainWrapper60{
  height: calc(100vh - 60px);
  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.flexConatiner{
  display: flex;
  flex: 1;
  margin: 0 30px ;
  background-image: linear-gradient(90deg,#000 49.9%,#fff 50%);
}
.flex40 {
  width: 45%;
  margin: 0px;
  position: relative;
  background: #fff;
}
.flex60 {
  width: 55%;
  margin: 0px;
  position: relative;
  background: #fff;
}
.textColored {
  font-size: 90px;
  font-weight: bold;
  font-family: Articulate Extrabold;
  line-height: 92px;
  position: absolute;
  z-index: 9;
  width: 780px;
  padding: 20px 0;
  mix-blend-mode: difference;
  color: #fff;
  /* background: -webkit-linear-gradient(180deg, #fff 34%, #333 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


.textBoxLeftInner {
  position: absolute;
  bottom:80px;
  padding-right: 70px;
  width: auto;
}
.logo {
  display: inline-block;
  position: absolute;
  top: 0;
}
.textBoxRightInner{
    position: absolute;
    bottom:80px;
    padding-left: 70px;
    width: auto;
    padding-right: 160px;
}
.textBoxRight .textColored {
    right: auto;
    left: -365px;
    width: 990px;
    /* background: -webkit-linear-gradient(180deg, #333 63%, #fff 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}
.textBoxLeft {
  padding-left: 107px;
}
.bounceBox {
  width: 22px;
  height: 39px;
  /* border: 3px solid; */
  border-radius: 20px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.bounceBox span {
  background: #212529;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  text-align: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: linear;
  margin: 0px auto;
}
.bounceBox.bounceBoxWT span {
  background: #fff;
}
@keyframes bounce-1 {
  0%   { transform: translateY(25px); }
  50%  { transform: translateY(0px); }
  100% { transform: translateY(25px); }
  }
  .digitalSection{
     position: fixed;
    z-index: 100;
    background: url(../images/digital-banner.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all .5s;
    animation: 0.5s in-out forwards;
  }
  
  @keyframes in-out {
    0% {
      transform:translateX(0%);
    }
    100% {
      transform:translateX(-50%);
    }
  }
  section.section.digitalright {
    display: none;
    position: relative;
    padding-top: 280px;
    padding-left: 80px;
    padding-right: 80px;
}
section.digitalleft.digitalSection.flex50 {
  width: 50%;
  position: relative;
  animation: unset;
}
.digitalright .textColored {
  right: unset;
  left: -150px;
  top: 34px;
}
.digitalDetail{
  display: none;
}

.subheadeing {
  font-size: 25px;
  font-family: Articulate Extrabold;
  margin-bottom: 40px;
  margin-top: 10px;
}


.cursor, .cursor3, .cursor2{
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  
}
.cursor{
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99;
}
.cursor3, .cursor2{
  height: 50px;
  width: 50px;
  z-index: 999;https://www.youtube.com/watch?v=3qti7Vof_7Q&list=PLbGui_ZYuhiiaQjuOfvgx_-gzVBlCxrk0
  transition: all 0.3s ease-out;
}
 .cursor3:hover, .cursor2:hover{
   transform: scale(2) translateX(-25%) translateY(-25%);
   border: none;
   mix-blend-mode: difference !important;
   height: 100px !important;
   width: 100px !important;
   animation: cursorAnim .8s infinite alternate;
} 
.cursor2{
  border: 1px solid #000;
  opacity: 1;
}


.flexContainer {
  display: flex;
}
.section{
  position: relative;
  overflow: hidden;
}

.digitalACTSectionHome, 
.Goodies, 
.getInTouchHome, 
.digitalEXpSectionHome, 

.whoWeAreHome, 
.barndingsection, 
.dctivationsection, 
.experiencesection,
.brandingSectionHome  {
  position: relative;
  height: 100vh;
  padding-top: 75px;
}
.digitalEXpSectionHomeBG{
    background: url(../images/dog.jpg) no-repeat bottom center;
    background-size: cover;
    height: 80vh;
}
.digitalACTSectionHomeBG{
  background: url(../images/digital-activationH.jpg) no-repeat bottom center;
  background-size: cover;
  height: 80vh;
}
/* .brandingSectionHomeBG{
  background: url(../images/branding.jpg) no-repeat bottom center;
  background-size: cover;
  height: 80vh;
} */
.moreRead.bounceBox {
  left: 0;
  bottom: 0px;
  transform: none;
}

.whoWeAreHomeBG{
  /* background: url(../images/branding.jpg) no-repeat bottom center;
  background-size: cover; */
  height: 80vh;
}
.GoodiesBG{
  background: url(../images/goodies-H.jpg) no-repeat bottom center;
  background-size: cover;
  height: 80vh;
}
.getInTouchHomeBg{
  background: url(../images/contact-half.jpg) no-repeat top center;
  background-size: cover;
  height: 80vh;
}
.addressBoxwrapper {
  display: table;
  position: absolute;
  bottom: 210px;
  overflow: auto;
  width: 900px;
}

.addressBox {
  display: table-cell;
  padding: 0 15px;
}
.addressBox p {
  margin-bottom: 0;
}
.addressBox h4 {
  font-size: 30px;
  font-weight: bold;
}
.pinkText {
  color: #4fe178;
}
.socialBox {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.socialBox ul li {
  display: inline-block;
  padding: 0px 6px;
}

.socialBox ul li img {
  width: 30px;
}

.socialBox p {
  font-size: 18px;
  color: #e41581;
}
.getInTouchHomeBg ul li {
  display: inline-block;
  padding: 0 10px;font-weight: bold;cursor: none;
}

.getInTouchHomeBg ul {
  position: absolute;
  bottom: 68px;
}

.getInTouchHomeBg ul li a {
  color: #292b2b;
  text-decoration: none;
  font-weight: bold;
  cursor: none;
}
.parent-menu {
  width: 300px;
  margin: 0px auto;
}


ul.parent-menu li a {
  color: #797778;
  font-size: 27px;
  padding: 15px 0 10px;
  display: block;
  font-weight: bold;
  transition: all 0.5s ease;
  text-align: center;
}
ul.parent-menu li a span {
  display: block;
  font-size: 14px;
}
ul.parent-menu li a:hover, ul.parent-menu li a:focus {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
ul.parent-menu li a.active{
  color: #fff;
}

span.sectionTitle {

  font-size: 16px;
  position: absolute;
  top: -35px;
  font-weight: normal;
  font-family: Articulate Extrabold;
  background: unset;
  z-index: 999999;
  display: none;
}

.vidBox {
  width: 300px;
  height: 350px;
  max-width: 100%;
  position: relative;
}
/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #292b2b;
  color: white;
  transform: rotateY(180deg);
  padding: 20px 20px;
}
.whoWeAreHomeBG .owl-carousel {
  position: absolute;
  bottom: 0px;
  padding-left: 60px;
}
.flip-box-back h4 {
  color: #7a7776;
  font-size: 28px;
  font-weight: bold;
}

.vidBox video {
  max-width: 100%;
}
.getInTouchHome .owl-carousel {
  position: absolute;
  top: 260px;
}
.menuIcon.menuIconClose {
  color: #7b7777;
  font-size: 16px;
  top: 25px;
}

.menuIcon.menuIconClose .bar1 {
-webkit-transform: rotate(-45deg) translate(0px, 2px);
transform: rotate(-45deg) translate(0px, 2px);
background: #7b7777;
}


.menuIcon.menuIconClose .bar2 {
-webkit-transform: rotate(45deg) translate(-4px, -7px);
transform: rotate(45deg) translate(-4px, -7px);
background: #7b7777;
}
ul.sideSocial li {
  display: inline-block;
  margin: 5px;
}

ul.sideSocial li img {
  width: 30px;
}

.sideFooter {
  position: absolute;
  right: 80px;
  bottom: 30px;
  width: 300px;
  text-align: center;
}

.sideFooter a {
  color: #fff;
  text-decoration: none;
}
.closeIcon {
  position: absolute;
  right: 30px;
  top: 0px;
}
.flex50.textBoxLeft {
  padding-left: 160px;
}
.flex50.textBoxRight {
  padding-right: 160px;
}
.aboutInner .moreRead.bounceBox.bounceBoxWT {
  bottom: 40px;
  position: absolute;
  left: 0px;
  right: 0;
}
.hide, .hide2, .hide1{
	display:none;
}
.textVideoBox {
  background: #292b2b;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  color: #fff;
  padding: 10px;
}
/* section#digitalEXpSectionHome .textBoxRight .textColored,
	section#getInTouchHome .textBoxRight .textColored{
  background: -webkit-linear-gradient(180deg, #333 63%, #7a7776 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
section#whoWeAreHome .textColored {
  background: -webkit-linear-gradient(180deg, #7a7776 43%, #333 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

ul.hover-target.footerMenu {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: 14px;
}
ul.hover-target.footerMenu li {
  display: inline-block;
  padding: 0px 15px;
}

ul.hover-target.footerMenu li a {
  color: #292b2b;
  text-decoration: none;
}
a.moreLink {
  color: #212529 !important;
}
.moreLinkWt{
  color: #fff !important;
}
.nextTopic a {
  color: #292b2b;
  text-decoration: none;
}
section#brandingSectionHome h1.textColored.hover-target {
  mix-blend-mode: difference;
  color: #fff;
  /* background: #000;
  webkit-background-clip: unset;
  -webkit-text-fill-color: unset; */
}
.aboutInner h2:after {
  content: '(in your peanut butter sandwich)';
  position: absolute;
  font-size: 25px;
  color: #e41581;
  top: 2px;
  width: 278px;
  line-height: 29px;
  transform: rotate(-11deg);
  right: 23%;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay:3s;
  -webkit-animation-delay:3s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}
@-webkit-keyframes pulse{
  0%{
    opacity: 0;
  }
  10%{
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(3);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}
@keyframes pulse{
  0%{
    opacity: 0;
  }
  10%{
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(3);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100%{
    opacity:1;
    transform: rotate(-11deg) scale(1);
  }
}

.flex-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.flex-buttons .button {
  flex: 1;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #fff;
  display: block;
  text-align: center;
}
.progress {
  transition-property: all;
  transition-duration: 1s;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: -6px;
  background: transparent;
  left: 10%;    
  animation: blink 1s linear infinite;
}
.flex-buttons .button:nth-child(1):hover ~ .imgs .progress{
 left:10%;
}

.flex-buttons .button:nth-child(2):hover ~ .imgs .progress{
  left:50%;
}

.flex-buttons .button:nth-child(3):hover ~ .imgs .progress{
  left:85%;
}

.imgs {
  height: 3px;
  position: relative;
  background: #fff;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  margin-top: 1em;
}
@keyframes blink{
  0%{opacity: 0.3;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }
  .aboutText2mb {
    display: none;
}
:focus{
  outline: none !important;
}

.tabletDisplay{
  display: none;
}
.textBoxRight ul.hover-target li {
  display: inline-block;
  padding: 5px 10px;
}

.textBoxRight ul.hover-target li a {
  color: #292b2b;
}

.textBoxRight ul.hover-target {
  margin-bottom: 20px;
}

.aboutText2mb {
  display: none;
}

.menuIcon:hover .bar1 {
  transform: translateX(0px) rotate(45deg);
  -moz-transform: translateX(0px) rotate(45deg);
  -ms-transform:  translateX(0px) rotate(45deg);
  -webkit-transform:  translateX(0px) rotate(45deg);
}

.menuIcon:hover .bar2 {
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.menuIcon.menuIconClose:hover .bar1 {
  transform: unset;
  -moz-transform: unset;
  -ms-transform:  unset;
  -webkit-transform:  unset;
}

.menuIcon.menuIconClose:hover .bar2 {
  -moz-transform: unset;
  -ms-transform: unset;
  -webkit-transform: unset;
  transform: unset;
}


.gallery-cell {
  width: 32%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  cursor: w-resize;
}

.flickity-enabled.is-draggable .flickity-viewport {
  margin-left: -200px;
}
.gallery{
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0;
}
.whoWeAreHomeBG .gallery{
  bottom: 0;}

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in;
}
ol.flickity-page-dots,
.flickity-prev-next-button {           
  display: none;
}
.pagetitle{
  display: none;
  position: absolute;
  left: 40px;
  top: 7px;
  font-size: 18px;
  font-family: Articulate Extrabold;
  white-space: nowrap;
}
.viewing-page-2 span#titleB {
  display: block;
}

.viewing-page-3 span#titleDE {
  display: block;
}
.viewing-page-4 span#titleDA {
  display: block;
}
.viewing-page-5 span#titleWWA {
  display: block;
}

.viewing-page-6 span#titleG {
  display: block;
}

.viewing-page-7 span#titleGIT {
  display: block;
}
span.pagetitle.pageinnertitle {
  display: block;
}
.ipad-P {
  display: none;
}


.moreLink img {
  transition: transform 1s linear;
}

.moreLink:hover img {
  transform: translateX(15px);
  transition: transform 1s linear;
}

@supports (-ms-ime-align: auto) {
  .textColored {
    color: #292b2b;
  }
}
.Display-MB{
  display: none;
}
/* image animation */
.fadeIn > div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  -webkit-animation-name: hello;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: hello;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.fadeIn {
  /* width: 300px; */
  position: relative;
}

@keyframes hello {
  0% {
      height: 100%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes hello {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}


.wrapper-main {
  overflow: hidden;
}

.imgTransfer {
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
  will-change: transform, opacity;
}
.imgTransfer.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

@keyframes fade-text-anim {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,20px,0);
    -moz-transform: translate3d(0,30px,0);
    -ms-transform: translate3d(0,30px,0);
    -o-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate3d(0,30px,0);
    -moz-transform: translate3d(0,30px,0);
    -ms-transform: translate3d(0,30px,0);
    -o-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes fade-text-anim1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,0px,0);
    -moz-transform: translate3d(0,0px,0);
    -ms-transform: translate3d(0,0px,0);
    -o-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate3d(0,0px,0);
    -moz-transform: translate3d(0,0px,0);
    -ms-transform: translate3d(0,0px,0);
    -o-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,30px,0);
    -moz-transform: translate3d(0,30px,0);
    -ms-transform: translate3d(0,30px,0);
    -o-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);
  }
}

h1.textColored.textAnimation {
  -webkit-animation: fade-text-anim 2s ease;
  animation: fade-text-anim 2s ease;
    /* animation-iteration-count: infinite; */
  }


  h1.textColored.textAnimation1 {
    -webkit-animation: fade-text-anim1 2s ease;
    animation: fade-text-anim1 2s ease;
      /* animation-iteration-count: infinite; */
    }

    .imgbox {
      overflow: hidden;
  }
  .ipad-lanscap{
    display: none;
  }







@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

